<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <title>LinStreaming</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link href="/static/lin/dashboard.css" rel="stylesheet">-->
    <link href="/static/lin/sb-admin.css" rel="stylesheet">
    <link href="/static/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/lin/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/jquery/1.11.1/jquery.min.js"></script>
    <script type="/static/jquery/1.11.1/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/static/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>


    <script src="/static/lin/lin.js"></script>


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Home</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--<li><a href="/twython/restart">Eliminar Keywords(Restart)</a></li>
                <li><a href="/twython/kill_thread">Eliminar Thread</a></li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{name}}  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-form navbar-right">

                <input type="text" class="form-control warning" placeholder="Ingrese texto" id ="inputSearchKeyword">
                <button type="submit" class="btn btn-success" id= "submitSearchKeyword">Buscar</button>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <div class ="side-nav-container">
                <ul class="nav navbar-nav side-nav" id="listGroups">

                    <li class="active" id ="home"><a>Acciones</a></li>
          
                    
                    
                </ul>
                <div class="flotant-input">
                        <!--<button type="button" class="btn btn-default" id="saveKeyword">Add</button>-->
                        <input id="Trendings" class="btn btn-default" type="button" value="Trendings" />
                </div>
                <br><br><br>
                <div class="flotant-input">
                        <div class="form-group" name="frm">
                          <input id="inputGeoTrending" type="text" class="form-control" id="inputGroup" placeholder="Ingrese Zona">
                        </div>
                        <!--<button type="button" class="btn btn-default" id="saveKeyword">Add</button>-->
                        <input id="GeoTrending" class="btn btn-default" type="button" value="GeoTrending" />
                </div>
                <br><br><br>
                <div class="flotant-input">
                        <div class="form-group" name="frm">
                          <input id="inputHashtag" type="text" class="form-control" id="inputGroup" placeholder="Ingrese hashtag">
                        </div>
                        <!--<button type="button" class="btn btn-default" id="saveKeyword">Add</button>-->
                        <input id="Hashtag" class="btn btn-default" type="button" value="Hashtag" />
                </div>
                <br><br><br>
                <div class="flotant-input">
                        <div class="form-group" name="frm">
                          <input id="inputUserMention" type="text" class="form-control" id="inputGroup" placeholder="Ingrese usuario">
                        </div>
                        <!--<button type="button" class="btn btn-default" id="saveKeyword">Add</button>-->
                        <input id="UserMention" class="btn btn-default" type="button" value="UserMention" />
                </div>

                
              </div>

            </div>
            
            <!-- /.navbar-collapse -->
        </nav>


        

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <center><h1 class="page-header" id="titlePage">
                            Vista General
                        </h1></center>

                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main" id="chart_and_comments">
                        <div class="row placeholders">
                          
                          <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" id="submitTweet">Go!</button>
                            </span>
                            <input id="inputTweet" type="text" class="form-control" placeholder="Escribe 140 caracteres" aria-describedby="sizing-addon1">
                          </div>


                          <!--datepicker-->
                          <br>
                          <center>
                          <form class="form-inline" role="form">
                            <div class="form-group">
                              <div class="input-group col-xs-4">
                                <div class="input-group-addon">Desde</div>
                                <input  class="form-control input-sm" type="datetime" placeholder="Inicio"  id="datepickerStart">
                              </div>
                              <div class="input-group col-xs-4">
                                <div class="input-group-addon">Hasta</div>
                                <input  class="form-control input-sm" type="datetime" placeholder="Fin"  id="datepickerEnd">
                              </div>
                              <button type="button" class="btn btn-default btn-sm" id ="submitDates">Go!</button>
                            </div>
                          </form>
                          </center>
                          <!--datepicker-->
                          <br><br>

                          <div id="container" style="min-width: 310px; max-width: 600px; margin: 0 auto">
                            
                            <h2 class="sub-header" id="tittle_comments" >Tweets</h2>
                            <div class="table-responsive" id="comments">
                              <table class="table table-striped">
                                <thead id="table_comments">
                                  <tr>
                                    <th>Contenido</th>
                                    <th>Fecha</th>
                                  </tr>
                                  {% for tweet in tweets %}

                                        <tr>
                                          <th>{{ tweet.text }}</th>
                                          <th>{{ tweet.created_on }}</th>
                                        </tr>

                                  {% endfor %}
                                </thead>
                                <tbody>
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <!--<div class="col-xs-6 col-sm-3 placeholder">
                            lalalal
                          </div>-->
                        </div>
                      </div>
                  </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

</body>

</html>
