<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <title>LinStreaming</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link href="/static/lin/dashboard.css" rel="stylesheet">-->
    <link href="/static/lin/sb-admin.css" rel="stylesheet">
    <link href="/static/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/lin/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <!-- jQuery Version 1.11.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/highcharts/js/highcharts.js"></script>
    <script src="/static/highcharts/js/themes/grid-light.js"></script>
    <script src="/static/highcharts/js/modules/exporting.js"></script>
    <script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/static/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>


    <script src="/static/lin/lin.js"></script>


    <script type="text/javascript"> 
      var name_user = "{{name}}";
     
      var session_groups = {};
      var session_groups_pages = {};
      {% for group in groups %}
        session_groups['{{group.id_group}}'] = [];
        session_groups_pages['{{group.id_group}}'] = [];
        groups.push("{{group.id_group}}");
        {%for keyword in group.keywords %}
          session_groups["{{group.id_group}}"].push("{{keyword.ds_keyword}}");
          keywords.push("{{keyword.ds_keyword}}");
        {%endfor%}
        {%for page in group.pages %}
          session_groups_pages["{{group.id_group}}"].push("{{page.ds_page}}");
          pages.push("{{page.ds_page}}");
        {%endfor%}
      {%endfor%}
      console.log(JSON.stringify(session_groups));

      {% for w in positives %}
          lexicon_positive.push(["{{w.word}}","{{w.modified_value}}"])
      {% endfor %}

      //console.log(lexicon_positive);
      {% for w in negatives %}
          lexicon_negative.push(["{{w.word}}","{{w.modified_value}}"])
      {% endfor %}



    </script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Home</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--<li><a href="/twython/restart">Eliminar Keywords(Restart)</a></li>
                <li><a href="/twython/kill_thread">Eliminar Thread</a></li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{name}}  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/twython/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-form navbar-right">

                <input type="text" class="form-control warning" placeholder="Ingrese texto" id ="inputSearchKeyword">
                <button type="submit" class="btn btn-success" id= "submitSearchKeyword">Buscar</button>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <div class ="side-nav-container">
                <ul class="nav navbar-nav side-nav" id="listGroups">

                    <li class="active" id ="home"><a>Grupos</a></li>
          
                    {% for group in groups %}

            
                      <li>

                        <div id="{{group.ds_group}}">

                            <a class="ds_group btn" value="{{group.id_group}}"><i class="fa fa-fw fa-bar-chart-o"></i> {{group.ds_group}}</a>

                            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">

                              <li><a class="confKeywordsByGroup" href="#" value="{{group.id_group}}" data-toggle="modal" data-target="#keywordsByGroup"><i class="glyphicon glyphicon-cog"></i> Keywords</a></li>

                              <li><a class="confPagesByGroup" href="#" value="{{group.id_group}}" data-toggle="modal" data-target="#pagesByGroup"><i class="glyphicon glyphicon-cog"></i> Páginas</a></li>
                                
                              <li><a class="confLexiconByGroup" href="#" value="{{group.id_group}}" data-toggle="modal" data-target="#lexiconByGroup"><i class="glyphicon glyphicon-cog"></i> Lexico</a></li>
                            
                              <li><a class="trash" href="#"><i class="glyphicon glyphicon-trash"></i> Borrar Grupo</a></li>

                            </ul>
                        </div>


                      </li>
                    

                    {% endfor %}
                    
                </ul>
                <div class="flotant-input">
                        <div class="form-group" name="frm">
                          <input type="text" class="form-control" id="inputGroup" placeholder="Ingrese Grupo">
                        </div>
                        <!--<button type="button" class="btn btn-default" id="saveKeyword">Add</button>-->
                        <input id="submitGroup" class="btn btn-default" type="button" value="Add" />
                </div>

                
              </div>

            </div>
            
            <!-- /.navbar-collapse -->
        </nav>


        <div id = "modalGroups">
          <!-- Ventana de keywords -->
          <div class="modal fade" id="keywordsByGroup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Keywords</h4>
                </div>

                <div class="modal-body" id="modalBodyKeywords">
                    <div class = "table-limit">
                        <table class="table table-hover" id = "tableKeywordsByGroup">

                        </table>
                    </div>
                    <br>
                    <div id="keywordMessageButtons">
                          <div class="input-group">
                            <input type="text" class="form-control" id="inputKeyword" placeholder="Ingrese Keyword"><br>
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" value="0" id="submitKeyword" >Agregar</button>
                            </span>
                          </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
                  <!--<button type="button" class="btn btn-primary">Guardar</button>-->
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="pagesByGroup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Paginas</h4>
                </div>

                <div class="modal-body" id="modalBodyPages">
                    <div class = "table-limit">
                        <table class="table table-hover" id = "tablePagesByGroup">

                        </table>
                    </div>
                    <br>
                    <div id="pageMessageButtons">
                          <div class="input-group">
                            <input type="text" class="form-control" id="inputPage" placeholder="Ingrese Link">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" value="0" id="submitPage" >Agregar</button>
                            </span>
                          </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
                  <!--<button type="button" class="btn btn-primary">Guardar</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id = "modalLexicons">
          <!-- Ventana de lexico -->
            <div class="modal fade" id="lexiconByGroup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Léxico</h4>
                </div>

                <div class="modal-body" id="modalBodyLexicon">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#tabPositives" role="tab" data-toggle="tab">Positivos</a></li>
                      <li><a href="#tabNegatives" role="tab" data-toggle="tab">Negativos</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="tabPositives">
                        <div class = "table-limit">
                          <table class="table table-hover" id = "tableLexiconByGroupP">

                          </table>
                        </div>
                        <br>
                        
                        <div class="form-inline">
                      
                            <input type="text" class="form-control" id="inputLexiconP" placeholder="Ingrese palabra o frase">

                            
                            <span class="form-inline-btn">
                           

                              <div class="btn-group" data-toggle="buttons"  id="_radioP" >
                                  <label class="btn btn-success btn-xs" value="1">
                                      <input type="radio" name="options" id="option1">+1
                                  </label>
                                  <label class="btn btn-success btn-xs" value = "2">
                                      <input type="radio" name="options"  id="option2">+2
                                  </label>
                              </div>
                            </span>
                        

                        </div>
                            <br>
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" value="0" id="submitLexiconP" >Agregar</button>
                            </span>
                    
                      </div>
                      <div class="tab-pane fade" id="tabNegatives">
                          <div class = "table-limit">
                            <table class="table table-hover" id = "tableLexiconByGroupN">

                            </table>
                          </div>
                          <br>
                          <div class="form-inline">

                            <input type="text" class="form-control" id="inputLexiconN" placeholder="Ingrese palabra o frase">
                            <span class="form-inline-btn">
                           

                              <div class="btn-group" data-toggle="buttons"  id="_radioN" >
                                  <label class="btn btn-danger btn-xs" value="-1">
                                      <input type="radio" name="options" id="option1">-1
                                  </label>
                                  <label class="btn btn-danger btn-xs" value = "-2">
                                      <input type="radio" name="options"  id="option2">-2
                                  </label>
                              </div>
                            </span>


                            </div>
                            <br>
                            <span class="input-group-btn">
                              <button class="btn btn-default"  value="0" id="submitLexiconN" >Agregar</button>
                            </span>
                    
                      </div>

                    </div>
                  
                </div>
                <div class="modal-footer">    
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salir</button>
                    
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <center><h1 class="page-header" id="titlePage">
                            Vista General
                        </h1></center>

                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main" id="chart_and_comments">
                        <div class="row placeholders">

                          <div class="btn-group btn-group-justified" id= "keywordsByGroupHead">            

                          </div>
                          <br>
                          <div class="btn-group btn-group-justified" id= "pagesByGroupHead">            

                          </div>

                          <!--datepicker-->
                          <br>
                          <center>
                          <form class="form-inline" role="form">
                            <div class="form-group">
                              <div class="input-group col-xs-4">
                                <div class="input-group-addon">Desde</div>
                                <input  class="form-control input-sm" type="datetime" placeholder="Inicio"  id="datepickerStart">
                              </div>
                              <div class="input-group col-xs-4">
                                <div class="input-group-addon">Hasta</div>
                                <input  class="form-control input-sm" type="datetime" placeholder="Fin"  id="datepickerEnd">
                              </div>
                              <button type="button" class="btn btn-default btn-sm" id ="submitDates">Go!</button>
                            </div>
                          </form>
                          </center>
                          <!--datepicker-->
                          <br><br>

                          <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                          <!--<div class="col-xs-6 col-sm-3 placeholder">
                            lalalal
                          </div>-->
                        </div>
                      </div>
                  </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    

</body>

</html>
