/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}



/*EXTRA*/




.side-nav-container{
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        
        background-color: #222;
}



/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
 /*       position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;*/
        border: none;
        border-radius: 0;
        padding-bottom: 20px;
        background-color: #222;
    }


    /*titulo "grupos"*/
    .side-nav>li>a {
        width: 225px;
    }

    /*li de cada grupo*/
    .side-nav>li>div
    {
        width: 225px;
        line-height: 50px;
    }

    /*lista dentro del dropdown por grupo*/
    .side-nav>li>div>ul a:hover,
    .side-nav>li>div>ul a:focus {
        outline: none;
        background-color: #000 !important;
    }

    /*fondo negro letras blancas lista de opciones por grupo*/
    .side-nav>li>div>ul a:hover,
    .side-nav>li>div>ul a:focus {
        color: #fff;
        outline: none;
        background-color:transparent;
    }


    /*fondo negro del div */
    .side-nav>li>div:hover,
    .side-nav>li>div:focus,
    .side-nav>li>div:hover>a,
    .side-nav>li>div:focus>a{
        color: #fff;
        outline: none;
        background-color: #000 !important;
    }


}

/*.side-nav>li>div .caret,*/
.side-nav>li>div .btn
{
        border: none;
        background-color:transparent;
}







.side-nav>li>ul {
    padding: 0;
}
.side-nav>li>div>a {
    background-color: #222;
    line-height: 20px;
    color: #777;
    padding-top: 10px;
    padding-bottom: 10px;
}





.flotant-input{

    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 0;
        
    background-color: #222;
}


.modal-body .glyphicon
{
    cursor: pointer;
}


.table-limit
{
    max-height: 250px !important; 
    overflow:auto;
}

